* 	text=auto

*.java 	text eol=lf
*.xml 	text eol=lf
*.pl 	text eol=lf
*.py 	text eol=lf

*.html	text eol=lf
*.scss	text eol=lf
*.css	text eol=lf
*.js	text eol=lf
*.json	text eol=lf

*.bat 	text eol=crlf

MANIFEST.MF	text eol=lf

.gitattributes	text eol=lf
.gitignore	text eol=lf
.gitlab-ci.yml	text eol=lf
